<nav class="nav1">
    <div class="nav1__contenedor1">
        <div class="nav1__contenedor1__boxNEmpresa">
            <h3 class="nav1__contenedor1__boxNEmpresa--titulo1">id: nombre de la empresa</h3>
        </div>
        <div class="nav1__contenedor1__percont">
            <p class="nav1__contenedor1__percont--subtitulo1">Periodo Contable</p>
            <div class="nav1__contenedor1__percont__boxaño">
                
                <p class="nav1__contenedor1__percont__boxaño--texto1">Año</p>
                <input type="number" class="nav1__ccontenedor1__percont__boxaño--input" value="2023">
            </div>
            <div class="nav1__contenedor1__percont__boxmes">
                <p class="nav1__contenedor1__percont__boxmes--texto1">Mes</p>
                <select name="" id="" class="nav1__contenedor1__percont__boxmes--select">
                    <option value="">ENERO</option>
                    <option value="">FEBRERO</option>
                    <option value="">MARZO</option>
                    <option value="">ABRIL</option>
                    <option value="">MAYO</option>
                    <option value="">JUNIO</option>
                    <option value="">JULIO</option>
                    <option value="">AGOSTO</option>
                    <option value="">SEPTIEMBRE</option>
                    <option value="">OCTUBRE</option>
                    <option value="">NOVIEMBRE</option>
                    <option value="">DICIEMBRE</option>
                </select>
            </div>
        </div>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logOut()">LogOut</button>
    </div>
    
</nav>
<section class="navegador">
    <div class="navegador__contenedor">
        <ul class="navegador__contenedor__menu">
            <li class="navegador__contenedor__menu__item">
                <a href="" class="navegador__contenedor__menu__item--link"><i class="fa-solid fa-house-chimney-window"></i>Home</a>
            </li>
            <li class="navegador__contenedor__menu__item">
                <a href="" class="navegador__contenedor__menu__item--link"><i class="fa-solid fa-truck"></i>Ventas</a>
            </li>
        </ul>
    </div>
</section>