<section class="pVenta">
    <app-navbar></app-navbar>
    <div class="pVenta--row">
        <app-navbar-side></app-navbar-side>
        <div class="nav1__contenedor1__boxNEmpresa">
            <h3 class="nav1__contenedor1__boxNEmpresa--titulo1">{{ iduser }}: {{ empresaNombre }}</h3>
        </div>
        <div class="pVenta__modules">
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Registros de ventas anterior </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span> Ventas </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Ventas por rangos </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span class="sinImg"> Compras </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Compras por rangos </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span class="sinImg"> Comprobante de percepción </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span class="sinImg"> Recibos por honorarios </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span class="sinImg"> Comprobante de retención </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Cuentas por cobrar </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Inventario inicial </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Cuentas por pagar </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span class="sinImg"> DAOT </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Stock de productos </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Series por sucurasl </span>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <div class="pVenta__modules__module__titulo">
                    <span class="sinImg"> Transferencia entre almacenes </span>
                </div>
                <div class="pVenta__modules__module__items">
                    <hr>
                    <p> Ingreso </p>
                    <hr>
                    <p> Validación </p>
                    <hr>
                    <p> Registro </p>
                </div>
            </div>
            <div class="pVenta__modules__module">
                <img src="./assets/images/default.png" alt="">
                <div class="pVenta__modules__module__titulo">
                    <span> Inconsistencias </span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
