<section class="nav">
    <div class="nav__sidebar">
        <nav class="nav__sidebar__box">
            <ul class="nav__sidebar__box__list">
                <li class="nav__sidebar__box__list__secciones">
                    <div class="nav__sidebar__box__list__secciones__container">
                        <span>Punto de venta</span>
                        <img src="./assets/images/registradora.png" alt="">
                    </div>
                </li>
                <li class="nav__sidebar__box__list__secciones">
                    <div class="nav__sidebar__box__list__secciones__container">
                        <span>Contabilidad</span>
                        <img src="./assets/images/contabilidad.jpg" alt="">
                    </div>

                </li>
                <li class="nav__sidebar__box__list__secciones">
                    <div class="nav__sidebar__box__list__secciones__container">
                        <span>Plantillas</span>
                        <img src="./assets/images/planilla.png" alt="">
                    </div>

                </li>
                <li class="nav__sidebar__box__list__secciones">
                    <div class="nav__sidebar__box__list__secciones__container">
                        <span>Utilitarios</span>
                        <img src="./assets/images/utilitarios.png" alt="">
                    </div>

                </li>
            </ul>
        </nav>
    </div>
</section>