<app-navbar></app-navbar>
<div class="nav1__contenedor1__boxNEmpresa">
    <h3 class="nav1__contenedor1__boxNEmpresa--titulo1">{{ iduser }}: {{ empresaNombre }}</h3>
</div>
<section class="herramientasVentas">
    <div class="herramientasVentas__box">
        <div class="herramientasVentas__box__opciones">
            <button><i class="fa-solid fa-circle-check C-green" (click)="agregarVenta()"></i>Guardar</button>
            <button><i class="fa-solid fa-circle-user C-gray"></i>Cliente</button>
            <button><i class="fa-solid fa-database C-peru"></i>Detalle</button>
            <button><i class="fa-solid fa-circle-question C-blue"></i>Ayuda</button>
        </div>
        <div class="herramientasVentas__box__opciones">
            <button><i class="fa-solid fa-circle-xmark C-red"></i>Cancelar</button>
        </div>
    </div>
</section>
<section class="facturacion">
    <div class="facturacion__box">
        <div class="facturacion__box__item1">
            <div>
                <label for="">Emision :</label>
                <input type="date">
            </div>
            <div>
                <label for="">Forma de pago :</label>
                <select name="" id="">
                    <option value="">CONTADO</option>
                    <option value="">FP2</option>
                    <option value="">FP3</option>
                </select>
            </div>
            <div>
                <label for="">Medio de pago :</label>
                <select name="" id="">
                    <option *ngFor="let met_pago of met_pagos">{{ met_pago.met_pago_name }}</option>
                </select>
            </div>
        </div>
        <div class="facturacion__box__item1">
            <div>
                <label for="">Documento :</label>
                <select name="" id="">
                    <option value="">FACTURA</option>
                    <option value="">BOLETA</option>
                    <option value="">FP3</option>
                </select>
            </div>
            <div>
                <input type="text">
            </div>
            <div>
                <input type="text">
            </div>
            <div>
                <label for="">Cancelacion :</label>
                <input type="date">
            </div>
            <div>
                <a href="">...</a>
            </div>
        </div>
        <div class="facturacion__box__item1">
            <div>
                <label for="">RUC :</label>
                <input type="text" [(ngModel)]="idcliente">
            </div>
            <div>
                <a href="">...</a>
            </div>
            <div>
                <label for="">Tiquetera S/N :</label>
                <input type="text">
            </div>
            <div>
                <label for="">Tipo de Moneda :</label>
                <select name="" id="">
                    <option value="">M. NACIONAL</option>
                    <option value="">TM1</option>
                    <option value="">TM2</option>
                </select>
            </div>
            <div>
                <label for="">Tipo de Cambio :</label>
                <input type="text">
            </div>
        </div>
        <div class="facturacion__box__item1">
            <div>
                <label for="">Cliente :</label>
                <input type="text">
            </div>

            <div>
                <label for="">Debe :</label>
                <input type="text">
            </div>
            <div>
                <label for="">Facturas y Boletas por Cobrar :</label>
                <input type="text">
            </div>
        </div>
        <div class="facturacion__box__item1">
            <div>
                <label for="">Direccion :</label>
                <input type="text">
            </div>

            <div>
                <label for="">Haber :</label>
                <input type="text">
            </div>
            <div>
                <label for="">Efectivo equivalente de Efectivo :</label>
                <input type="text">
            </div>
            <div>
                <label for="">Cheque :</label>
                <input type="text">
            </div>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="column" class="table-dark"> </th>
                        <th scope="column" class="table-dark">T</th>
                        <th scope="column" class="table-dark">Producto</th>
                        <th scope="column" class="table-dark">Unidad</th>
                        <th scope="column" class="table-dark">Cantidad</th>
                        <th scope="column" class="table-dark">P. Unitario</th>
                        <th scope="column" class="table-dark">%Percep.</th>
                        <th scope="column" class="table-dark">VV</th>
                        <th scope="column" class="table-dark">IGV</th>
                        <th scope="column" class="table-dark">Total</th>
                        <th scope="column" class="table-dark">C/S IGV</th>
                        <th scope="column" class="table-dark">Cuenta</th>
                        <th scope="column" class="table-dark">Descripcion Cuenta</th>
                        <th scope="column" class="table-dark">Opciones</th>
                    </tr>
                </thead>
                <tbody id="">
                    <tr class="">
                        <td scope="row" class="">-</td>
                        <td scope="row" class="">-</td>
                        <td scope="row" class="">
                            <input type="text" id="productoInput" [(ngModel)]="selectedProductName" list="productos" (change)="onProductSelected()">
                            <datalist id="productos">
                                <option *ngFor="let product of products" [value]="product.name">
                            </datalist>
                        </td>
                        <td scope="row" class="">-</td>
                        <td scope="row" class="">
                            <input type="number" id="cantidadInput" width="50px" [(ngModel)]="cantidadModel" (change)="onCantidadChange()">
                        </td>
                        <td scope="row" class="">{{ cadprice }}</td>
                        <td scope="row" class="">{{ cadpercep }}</td>
                        <td scope="row" class="">{{ cadpricevv }}</td>
                        <td scope="row" class="">{{ cadpriceigv }}</td>
                        <td scope="row" class="">{{ cadtotal }}</td>
                        <td scope="row" class="">{{ cadpricecsigv }}</td>
                        <td scope="row" class=""></td>
                        <td scope="row" class="">
                            <input type="text" name="" id="" [(ngModel)]="description">
                        </td>
                        <td scope="row" class=""><button type="button" class="btn btn-success" (click)="agregarFila()">Añadir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="facturacion__box__contend">
            <table class="facturacion__box__contend__tabla">
                <thead>
                    <tr>
                        <th class=""> </th>
                        <th class="">T</th>
                        <th class="">Producto</th>
                        <th class="">Unidad</th>
                        <th class="">Cantidad</th>
                        <th class="">P. Unitario</th>
                        <th class="">%Percep.</th>
                        <th class="">VV</th>
                        <th class="">IGV</th>
                        <th class="">Total</th>
                        <th class="">C/S IGV</th>
                        <th class="">Cuenta</th>
                        <th class="">Descripcion Cuenta</th>
                    </tr>
                </thead>
                <tbody id="">
                    <tr class=""  *ngFor="let producto of productosSeleccionados; let i = index">
                        <td scope="row" class="">-</td>
                        <td scope="row" class="">{{ i + 1 }}</td>
                        <td scope="row" class="">{{ producto.producto }}</td>
                        <td scope="row" class="">-</td>
                        <td scope="row" class="">{{ producto.cantidad }}</td>
                        <td scope="row" class="">{{ producto.price }}</td>
                        <td scope="row" class="">{{ producto.percep }}</td>
                        <td scope="row" class="">{{ producto.vv }}</td>
                        <td scope="row" class="">{{ producto.igv }}</td>
                        <td scope="row" class="">{{ producto.total_par }}</td>
                        <td scope="row" class="">{{ producto.csigv }}</td>
                        <td scope="row" class="">-</td>
                        <td scope="row" class="">{{ producto.descripcion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="facturacion__box__detalle">
            <div class="facturacion__box__detalle__item1">
                <p>Detraccion</p>
                <div>
                    <label for="">N° Deposito</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Fecha</label>
                    <input type="date">
                </div>
            </div>
            <div class="facturacion__box__detalle__item2">
                <input type="checkbox">
                <p>Perception</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>