/* BASES */
$bp-big: 87.5em;
$bp-extraLarge: 75em;
$bp-large: 62em;
$bp-medium: 48em;
$bp-small: 36em;
$bp-extraSmall: 30em;



*{
    margin: 0;
    padding: 0;
}

html{
    
    
    // el tamaño de la fuente base de la etiqueta del root = 16px
    /*
        1rem = 16px
        width: 91px -> 5.6875rem
        // ⚡⚡ transformarlo a 10px la fuente base 
        del root
        
        1rem = 10px
        width: 91px -> 9.1rem
        16px ===== 100%
        10px ----> 62.5%
    */
    font-size: 62.5%;
    @media only screen and (max-width: $bp-small){
        font-size: 50%;
    }
    
}

p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

img{
    display: block;
}

a{
    text-decoration: none;
    display: inline-block;
}

body{
    background-color: antiquewhite;
    position: relative;
    
    min-height: calc(100vh - 11.9em);
}

